.character {
  height: 100px;
  width: auto;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to left, yellow, red, purple);
  padding: 3px;
  margin: 5px;
  border: lightgoldenrodyellow solid 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}
img {
  height: 98%;
  border-radius: 50%;
}
.character .active {
  height: 200px;
  width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to left, yellow, red, purple);
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}
.charName {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  font-style: italic;
  text-decoration-line: underline;
}
.charName::first-letter {
  text-transform: uppercase;
}
.attribute {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}
