@font-face {
  font-family: starwars;
  src: url("../fonts/stjedise/STJEDISE.TTF");
}
@font-face {
  font-family: staroutline;
  src: url("../fonts/starjout/Starjout.ttf");
}
body {
  background: black;
}
#header h1 {
  font-family: starwars;
  font-size: 80px;
  color: yellow;
  background: black;
  text-align: center;

  font-style: italic;
}
#header h2 {
  font-family: staroutline;
  font-size: 20px;
  color: yellow;
  background: black;
  text-align: center;
  font-style: italic;
}

#characters {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  background: black;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Battle Field */
#title {
  font-family: starwars;
  text-align: center;
  color: yellow;
  font-size: 40px;
}
#battlefield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  flex-wrap: wrap;
}
#hero {
  height: auto;
  width: auto;
  padding: 20px;
  margin: 20px;
  background: linear-gradient(to right, cornflowerblue, red);
  border-radius: 10px;
  flex-basis: auto;
}
#defender {
  height: auto;
  width: auto;
  padding: 20px;
  margin: 20px;
  background: linear-gradient(to right, salmon, pink);
  border-radius: 10px;
  flex-basis: auto;
}
#attack {
  width: 50px;
  background: linear-gradient(to right, red, purple);
  border-radius: 5px;
  font-family: starwars;
  text-align: center;
  background: blue;
  color: yellow;
  padding: 20px;
}
.announcement {
  align-self: center;
  font-family: starwars;
  font-size: 20px;
  color: yellow;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  font-style: italic;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
#attack:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
#attack:target {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
