@font-face {
  font-family: starwars;
  src: url("../fonts/stjedise/STJEDISE.TTF");
}
@font-face {
  font-family: staroutline;
  src: url("../fonts/starjout/Starjout.ttf");
}
#header h1 {
  font-family: staroutline;
  font-size: 40px;
  color: yellow;
  background: black;
  text-align: center;
  text-decoration: aquamarine;
  text-decoration-line: underline;
  font-style: italic;
}
#header h2 {
  font-family: staroutline;
  font-size: 20px;
  color: yellow;
  background: black;
  text-align: center;

  font-style: italic;
}

#characters {
  display: flex;
  flex-direction: row;
  height: 200px;
  background: black;
  justify-content: space-evenly;
}

/* Battle Field */

#hero {
  height: 300px;
  width: 300px;
  background: linear-gradient(to right, cornflowerblue, red);
}
#defender {
  height: 300px;
  width: 300px;
  background: linear-gradient(to right, salmon, pink);
}
#attack {
  width: 50px;
  background: linear-gradient(to right, red, purple);
  border-radius: 5px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
#attack:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
#battlefield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
