#characters {
  display: flex;
  flex-direction: row;
}
.character {
  height: 100px;
  width: 150px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to left, yellow, red, purple);
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}
img {
  height: 98%;
  border-radius: 3px;
}
#hero {
  height: 300px;
  width: 300px;
  background: linear-gradient(to right, cornflowerblue, red);
}
#defender {
  height: 300px;
  width: 300px;

  background: linear-gradient(to right, salmon, pink);
}
